body {
  font-family: "comic sans ms";
  margin: 0;
  padding: 0;
}

.tabs {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-family: "comic sans ms";
}

.tab-button {
  border: none;
  background-color: #6f706f;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "comic sans ms";
  color: #353635;
}

.tab-button.active {
  background-color: #353635;
  font-family: "comic sans ms";
  color: #6f706f;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content p {
  margin: 0;
}

.tab-content.active {
  display: block;
}
.tabsd {
    background-color: #5a5c5a;
    border-radius: 2%;
    padding: 10px;
}
